name: formatting

on: pull_request

jobs:
  run-linters:
    name: Run formatter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.7"
      - name: Install dependencies
        run: |
          pip install black flake8
      - name: Run linters / formatters
        uses: wearerequired/lint-action@master
        with:
          black: true
          flake8: true
          auto_fix: true
